# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage output
.pytest_cache/
.coverage
htmlcov/

# Editor and OS files
.vscode/
.idea/
.DS_Store

# Others
main.py
Python Module 00.pdf
python00.ipynb